demo/src/main/java/version1/demo/utils/xml/QueryOrdineSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryOrdine">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="id"/>
        <xs:element type="xs:date" name="data"/>
        <xs:element type="xs:string" name="descrizione"/>
        <xs:element type="xs:string" name="stato"/>
        <xs:element type="xs:string" name="categoria"/>
        <xs:element name="dettaglioOrdine" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="id"/>
              <xs:element type="xs:float" name="qnt"/>
              <xs:element name="prodotto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="id"/>
                    <xs:element type="xs:string" name="nome"/>
                    <xs:element type="xs:double" name="prezzoBase"/>
                    <xs:element type="xs:string" name="descrizione"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>